footer{
    background-color: darkslategrey
    ;
}
input{  
    background-color:#4D5061;
}

header{
    background-color:#5C80BC;
}
.jumbotrontext-center{
    background-image:url(res/LOAFERS\ VID.mp4);
    background-repeat: no-repeat;
    background-size:cover;
    height: 60vh;
}
